:root{
    --ff-body: "Monteserrat", sans-serif;

    --fs-xl: 5rem;
    --fs-600: 1.5rem;
    --fs-400: 1rem;
}

@media (min-width: 40em) {
    :root{
        --fs-xl: 7rem;
        --fs-600: 2rem;
        --fs-400: 1.125rem;
    }
}

body{
    font-family: var(--ff-body);
}

.text-center{
    text-align: center;
}

a{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.whack-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 600px;
    margin: 0 auto;
    gap: .5rem
}

.button-center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.box {
    border: 1px solid #000000;
    min-height: 200px;
    max-width: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.mole {
    background-image: url(/image/mole.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

