.text-center{
    text-align: center;
}

a{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.whack-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 400px;
    margin: 0 auto;
    gap: .5rem
}

.box {
    border: 1px solid #000000;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.mole {
    background-image: url(/image/mole.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

